body
    {
        position: absolute;
        height: 100vh;
        width: 100vw;
        background:linear-gradient(#ffc39a ,#ff7f72, #7fb882, #272390);
        background-size:3840px 2160px;
        background-repeat: no-repeat;
        background-position: center;
    }
    .topo
    {
        background:linear-gradient(#ff7e71, #ffc39a);
        display:flex;
        text-align:left;
        width:1280px;
        border: 1px solid aliceblue;
        margin: 0PX;
        padding: 20px;
        position: relative;
        
    }
    .topo a
    {
        background:linear-gradient(#f04045, #ffc39a);
        background-size:100%;
        font-size: 25px; 
        color: aliceblue;
        font-family:Starborn;
        text-decoration: none;
        cursor: pointer;
        padding: 10px;
        transition: 2s ;
    }
    .topo a:hover, a:focus
    {background:linear-gradient(#430665, #272390);}
    @font-face {
        font-family:Starborn;
        src: url(fonts/Starborn.ttf);
    }
    main
    {
        position: relative;
        top:20px ;
    }
    .ativ
    {
        background:linear-gradient(#f04045, #ffc39a);
        width: 1200px ;
        height:500px;
        border: 1px solid aliceblue;
        border-radius: 30px;
        text-align: center ;
        position:relative;
        left: 50px;
        animation-name: ativ;
        animation-duration:4s ;
        animation: bg-animation 5s infinite alternate;
        animation-iteration-count: infinite;
        display: flex;
    }
    .l1
    {
        position:absolute;
        top: 260px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: aliceblue;
        background-size: cover;
        background-position: center;
        border-radius: 20px;
        font-size: 20px;
        text-decoration: none;
        right:px ;
    }
    .l2
    {
        position:absolute;
        top: 220px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: aliceblue;
        top:260px;
        font-size: 25px;
        text-decoration: none;
    }
    .l3
    {
        position:absolute;
        top: 260px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: aliceblue;
        font-size: 25px;
        border-radius: 20px;
        text-decoration: none;
        background-image:url(java.png);
        background-size: 250px;
        background-position: center;
        background-repeat: no-repeat;
    }
    .al1
    {
        margin: 0;
        margin-top: 100px;
        margin-left: 50px;
        display: inline-flexbox;
        justify-content: center;
        border-radius: 50px;
        border: 1px solid aliceblue;
        width: 250px;
        height: 300px;
        position: absolute;
        background-size: cover;
        background-position: center;
        background-image: url(ht.png);
    }
    .al2
    {
        
        border-radius: 50px;
        margin-top: 100px;
        margin-left:450px ;
        border: 1px solid aliceblue;
        width: 250px;
        height: 300px;
        position: absolute;
        background-size: cover;
        background-position: center;
        background-image: url(c.jpg);
        display: inline-flexbox;
        justify-content: center;
    }
    .al3
    {
        border-radius: 50px;
        margin-top: 100px;
        margin-left: 850px;
        border: 1px solid aliceblue;
        width: 250px;
        height: 300px;
        position:absolute;
        background-size: cover;
        background-position: center;
        background-image: url(java.png);
        display: inline-flexbox;
        justify-content: center;
    }
    .logo
    {
        position: auto;
        display: inline;
        margin:0 ;
        justify-content: center;
    }
    .down
    {
        width: 880px;
        height: 150px;
        left: 10px;
        display: grid;
        background:linear-gradient(#f04045, #ffc39a);
        position:absolute;
        border-radius: 50px;
        border: 1px solid aliceblue;
        padding:15px 200px;